html, body{
    margin: 0;
}
body{
    min-height: 100vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 100vw;
    overflow-x: hidden;
}
.top{
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    width: 20%;
    margin: 0 auto auto auto;
    text-align: center;
}
.top p{
    margin: 0;
}
.hands{
    background-color: darkorange;
    position: relative;
    width: 100%;
    height: max-content;
    min-height: 50vh;
}
.hands img{
    position: absolute;
    transition: all 0.2s;
}
.hands #player-hand{
    left: -25px;
    transform-origin: 0% 100%;
}
.hands #opponent-hand{
    right: -25px;
    transform-origin: right;
}
.controls{
    background-color: pink;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    gap: 2vw;
}
.controls img{
    width: 10vw;
    height: auto;
}